div{
  display: flex;
  height: 100%;
  width: 100%;
}
*{
  margin:0;
  padding:0;
  }
  body{
  height:100vh;
  width:100vw;
  background-color: #e39d24;
}
.App{
  align-items: center;
   justify-content: center;
   text-transform: capitalize;
}
h1{
  z-index:3 ;
color: #e39d24;
font-style:italic;
font-weight: bold;
}
span{
height: 100px;
width: 100px;
background-color: #141429;
border-radius: 50px;
position: absolute;
z-index: 1;
animation: shift 3s ease-in-out 0s infinite alternate;
}
  @keyframes shift{
    from{
      margin-left: -80%;
    }
    to{
      margin-left: 80%;
    }
  }
